version: '3.8'

services:
  app:
    build: .
    container_name: audit-application
    ports:
      - "8081:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/auditDb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
      - JWT_SECRET_KEY=bXlTdXBlclNlY3JldEtleTEyMzQ1Njc4OTAxMjM0NTY3OA==
      - JWT_EXPIRATION_TIME=3600000
    depends_on:
      - mysql
    restart: unless-stopped
    networks:
      - audit-network

  mysql:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: auditDb
      MYSQL_ROOT_HOST: '%'
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - audit-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-proot"]
      interval: 5s
      timeout: 5s
      retries: 10

networks:
  audit-network:
    driver: bridge

volumes:
  mysql-data:
